<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人通信录</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2 class="txl">
        {% if current_user.is_authenticated %}
        <img alt="Vio" class="vio" src="{{ url_for('static', filename='users/'+user.image_hash ) }}">
        {{ user.username }} 的通讯录
        {% else %}
        <img alt="Vio" class="vio" src="{{ url_for('static', filename='users/default.png' ) }}">
        通讯录
        {% endif %}
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">主页</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('settings') }}">设置</a></li>
                <li><a href="{{ url_for('logout') }}">退出</a></li>
                <li><a href="{{ url_for('password') }}">密码</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">登陆</a></li>
            <li><a href="{{ url_for('register') }}">注册</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2022 <a href="https://github.com/zpykillccdog/Flask_Addressbook">Flask_Addressbook</a></small>
    </footer>
</body>
</html>