{% extends 'base.html' %}

{% block content %}
{% if current_user.is_authenticated %}
<p>{{ movies|length }} 联系人</p>
<form method="post">
    姓名 <input type="text" name="name" autocomplete="off" required>
    性别 <input type="text" name="sex" autocomplete="off" required>
    电话号 <input type="text" name="phone" autocomplete="off" required>
    qq号 <input type="text" name="qq" autocomplete="off" required>
    <input class="btn" type="submit" name="add" value="添加">
</form>

<form method="post", action="{{ url_for('query')}}">
    姓名 <input type="text" name="name" autocomplete="off">
    性别 <input type="text" name="sex" autocomplete="off">
    电话号 <input type="text" name="phone" autocomplete="off">
    qq号 <input type="text" name="qq" autocomplete="off">
    <input class="btn" type="submit" name="query" value="查询">
</form>

{% endif %}
<ul class="movie-list">
    {% if current_user.is_authenticated %}
    {% for movie in movies %}
    <li>{{ movie.name }}  -  {{ movie.sex }}  -  {{movie.phone}}  -  {{movie.qq}}
        <span class="float-right">
            <form class="inline-form" method="post" action="{{ url_for('delete', movie_id=movie.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            <a class="btn" href="{{ url_for('edit', movie_id=movie.id)}}">>Edit</a>
            <a class="imdb" href="https://www.114best.com/dh/114.aspx?w={{ movie.phone }}" target="_blank" title="Find this phone">查找电话</a>
        </span>
    </li>
    {% endfor %}
    {% endif %}
</ul>
<img alt="Kasa" class="kasa" src="{{ url_for('static', filename='images/kasa.gif') }}" title="to~to~ro~">
{% endblock %}